.background-image-0 {
  background-attachment: fixed;
  background-image: url(./receipt.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150vh;
  position: relative;
  width: 100vw;
}

.app-describe {
  color: #000;
  left: 0;
  opacity: .8;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}

.describe-text {
  border: none !important;
  color: #fff;
  font-size: 30px;
  letter-spacing: 10px;
  padding: 15px;
}
