.background-image-0 {
  background: fixed url(./receipt.jpg) center/cover no-repeat; 
  height: 150vh;
  position: relative;
  width: 100vw;
}

.app-describe {
  color: #000;
  left: 0;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

<<<<<<< HEAD
.scroll-down {
  animation-delay: 1s ease-in-out 1s infinite alternate scroll-down;
  left: 0;
  position: absolute;
  text-align: center;
  top: 10%;
  width: 100%;
}

@keyframes scroll-down {
  0% {
    margin-top: 0;
  }

  100% {
    margin-top: 15px;
  }
}
