.background-image-0 {
  background: fixed url(./receipt.jpg) center/cover no-repeat;
  height: 150vh;
  position: relative;
  width: 100vw;
}

.app-describe {
  color: #000;
  left: 0;
  opacity: .8;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}

.border {
  border: none !important;
  color: #fff;
  font-size: 30px;
  letter-spacing: 10px;
  padding: 15px;
}

.scroll-down {
  animation-delay: 1s ease-in-out 1s infinite alternate scroll-down;
  left: 0;
  position: absolute;
  text-align: center;
  top: 10%;
  width: 100%;
}

@keyframes scroll-down {
  0% {
    margin-top:0px;
  }
  100% {
    margin-top:15px;
  }
}